html
	head
		meta(charset="utf8")
		link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Open+Sans")
		link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="/style/main.css")
		link(rel="stylesheet", type="text/css", href="/style/admin.css")
		script.
			window.variables = {
				server_time: parseInt('#{server_time}')
			};
		script(src="/script/admin.js")
		title
			block title
				|Icy Network - Administration
	body
		block navigation
			nav
				ul
					li
						a.navlogo(href="/") Icy Network
					li
						a(href="/admin/") Home
					li
						a(href="/admin/oauth2/") OAuth2
				ul.right
					li
						a(href="/user/manage") #{user.display_name}
		block dialog
			.dialog-drop#dialog
				.dialog
					.head
						#title
						#close
							i.fa.fa-fw.fa-times
					.content#content
		.wrapper
			block body
