html
	head
		meta(charset="utf8")
		link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Open+Sans")
		link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="/style/main.css")
		link(rel="stylesheet", type="text/css", href="/style/admin.css")
		script.
			window.variables = {
				server_time: parseInt('#{server_time}')
			};
		script(src="/script/admin.js")
		title
			block title
				|Icy Network - Administration
	body
		block navigation
			nav
				ul
					li
						a.navlogo(href="/") Icy Network
					li
						a(href="/admin/") Home
					li
						a(href="/admin/oauth2/") OAuth2
				ul.right
					li
						a(href="/user/manage") #{user.display_name}
		.wrapper
			block body
		.templates
			script(type="x-tmpl-mustache" id="user").
				<div class="user" id="user-{{id}}">
				<div class="avatar">
					{{#avatar_file}}
						<img src="/usercontent/images/{{avatar_file}}">
					{{/avatar_file}}
					{{^avatar_file}}
						<img src="/static/image/avatar.png">
					{{/avatar_file}}
				</div>
				<div class="info">
					<div class="stamps">
						{{^activated}}
						<div class="noactive"><i class="fa fa-fw fa-envelope"></i></div>
						{{/activated}}
					</div>
					<div class="display_name">{{display_name}}</div>
					<div class="username">{{username}}</div>
					<div class="email">{{email}}</div>
					<div class="privilege">Privilege: {{nw_privilege}} points</div>
					<div class="timestamp">{{created_at}}</div>
					{{^password}}
					<div class="external"><b>Used external login</b></div>
					{{/password}}
				</div>
				</div>
