.external-login
	if facebook_auth
		div#fb-root
		script.
			window.fbAsyncInit = function() {
			  FB.init({
			    appId      : '#{facebook_auth}',
			    cookie     : true,
			    xfbml      : true,
			    version    : 'v2.8'
			  });
			  FB.AppEvents.logPageView();   
			};

			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1124948240960869";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		fb:login-button(scope="public_profile,email", onlogin="checkLoginState();" data-max-rows="1", data-size="large", data-button-type="login_with", data-show-faces="false", data-auto-logout-link="false", data-use-continue-as="false")
	if twitter_auth
		a.twitterLogin.loginDiag(href="/api/external/twitter/login")
			i.fa.fa-fw.fa-twitter
			span Log in With Twitter
	if discord_auth
		a.discordLogin.loginDiag(href="/api/external/discord/login")
			img(src="/static/image/Discord-Logo-White.svg")
			span Log in With Discord
