extends layout.pug
block title
	|Icy Network

block body
	section#home
		.content
			h1 Welcome to Icy Network!
			p Icy Network is a Global Network of Communities and Websites, United by a Single Login
			.divboxes
				.divbox#secure
					span.head 
						i.fa.fa-lock.fa-fw
						span.text Secure Login
					span.text A secure login system with Two-Factor Authentication possibility
				.divbox#secure
					span.head 
						i.fa.fa-github.fa-fw
						span.text Open Source
					span.text All of our platforms are Open Source Software hosted on our 
						a(href="https://github.com/IcyNet", target="_blank") GitHub Organization
	section#news
		.content
			h1 Icy Network News
