doctype html
html
	head
		meta(charset="utf8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", type="text/css", href="/style/main.css")
		link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Open+Sans")
		link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		script(src="/script/main.js")
		title
			block title
	body
		block banner
			.banner
				.logo
					.part1 Icy
					.part2 Network
		block dialog
			.dialog-drop#dialog
				.dialog
					.head
						#title
						#close
							i.fa.fa-fw.fa-times
					.content#content
		block nav
			.anchor
			nav.navigator
				ul
					li.hidden#navlogo
						a(href="/")
							.logo.small
								.part1 Icy
								.part2 Network
					li.fullview
						a.scroll(href="/#home") Home
					li.fullview
						a.scroll(href="/#news") News
				ul.fullview.floating
					if user
						li#user
							a(href="/user/manage") #{user.display_name}
						li
							a(href="/logout") Log out
					else
						li
							a(href="/login") Log in
				ul.mobview.floating
					li.cssextend
						a#mobile(href="#")
							i.fa.fa-fw.fa-bars
						ul.flexview
							li
								a.scroll(href="/#home") Home
							li
								a.scroll(href="/#news") News
							.division
							if user
								li#user
									a(href="/user/manage") #{user.display_name}
								li
									a(href="/logout") Log out
							else
								li
									a(href="/login") Log in
		block body
		block footer
			footer
				img.squeebot(src="/static/image/squeebot.svg")
				span.copyright
					.logo.small
							.part1 Icy
							.part2 Network
					br
					span &copy; 2017 - Icy Network - Some Rights Reserved
					br
					span 
						a(href="/docs/terms-of-service") Terms of Service
						span.divider |
						a(href="/docs/privacy-policy") Privacy Policy
