extends ../layout.pug
block title
	|Icy Network - Change User Password

block body
	.wrapper
		.boxcont
			.box#totpcheck
				h1 Change Your Password
				if message.text
					if message.error
						.message.error
							span #{message.text}
					else
						.message
							span #{message.text}
				form#loginForm(method="POST", action="")
					input(type="hidden", name="csrf", value=csrf)
					if !token
						label(for="password_old") Current Password
						input(type="password", name="password_old", id="password_old")
					else
						input(type="hidden", name="token", value=token)
					label(for="password") New Password
					input(type="password", name="password", id="password")
					label(for="password_repeat") Repeat New Password
					input(type="password", name="password_repeat", id="password_repeat", autocomplete="off")
					div#repeatcheck(style="display: none")
					input(type="submit", value="Change")
