h3 Hello, #{display_name}!
p This email was sent to you because your password on Icy Network has been changed.
p If you did indeed change the password of this account yourself, you may safely ignore this email.
p 
	b However, if you did not change your password on Icy Network, contact an Icy Network administrator immediately!
small This email has been sent to you because of an action performed on the IcyNet.eu website.
