body
    margin: 0

nav
    display: block
    height: 60px
    background-color: #00BCD4
    border-bottom: 5px solid #0096a9
    ul
        display: inline-block
        margin: 0
        padding: 0
        list-style-type: none
        &.right
            float: right
        li
            height: 60px
            display: inline-block
            a
                font-size: 180%
                padding: 16px
                line-height: 2
                color: #fff
                text-decoration: none
                text-transform: uppercase
                font-weight: bold
                &:hover
                    background-color: #00c9e2

.wrapper
    min-height: 100vh
    overflow: hidden
    .container
        overflow: hidden
        padding: 10px
        background-color: #fff
        min-height: 100vh
    .left, .right
        width: 48%
        display: inline-block
    .right
        float: right
    .stamps
        float: right

.user
    min-height: 180px
    .avatar
        float: left
    .info
        margin-left: 170px
        .display_name
            font-weight: bold
            font-size: 120%
        .username
            font-size: 80%

.application
    height: 200px
    #hiddensecret
        display: none
        &.shown
            display: inline-block
    .link
        color: green
        cursor: pointer
        display: inline-block

form
    .message
        display: none
