footer
    padding: 20px
    background: #e9f6fd
    background: -moz-linear-gradient(top, #e9f6fd 0%, #d3eefb 100%)
    background: -webkit-linear-gradient(top, #e9f6fd 0%,#d3eefb 100%)
    background: linear-gradient(to bottom, #e9f6fd 0%,#d3eefb 100%)
    border-top: 1px solid #ddd
    text-align: center
    .copyright
        display: inline-block
        text-align: center
        font-size: 90%
        vertical-align: top
        margin-top: 35px
        padding: 15px
        margin-left: 5vw
    .squeebot
        width: 200px
    .logo
        font-family: "Open Sans"
        font-weight: bold
        text-transform: uppercase
        text-shadow: 2px 2px 1px #007104
        color: #00b300
        letter-spacing: 5px
        user-select: none
        font-size: 30px
        text-align: inherit
        cursor: pointer
        display: inline-block
        .part1, .part2
            display: inline-block
        .part1
            color: #03A9F4
            text-shadow: 2px 2px 1px #0059a0
            margin-right: 5px
    .socialbtn
        width: 28px
        height: 28px
        display: inline-block
        line-height: 28px
        color: #fff
        font-size: 160%
        border-radius: 100px
        padding: 2px
        margin: 5px
        &#github
            background-color: #000
        &#twitter
            background-color: #03a9f4
        &#discord
            background-color: #2C2F33
            .discordlogo
                position: relative
                top: 3px
                background: url(/static/image/Discord-Logo-White.svg)
                width: 22px
                height: 22px
                display: inline-block
        i
            position: relative
            right: 1px
    span.divider
        color: #ddd
        margin: 0 5px
        cursor: default

@media all and (max-width: 800px)
    footer
        .squeebot
            margin: 0
            width: 150px
            margin: auto
            display: block
        .copyright
            margin-left: 0
